[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
flask-mail = "==0.9.1"
flask-sqlalchemy = "==3.0.3"
python-dateutil = "==2.8.2"
werkzeug = "==2.2.2"

[dev-packages]

[requires]
python_version = "3.10"
