{% extends "ticket_created.html" %}
{% block form %}
<article class="article">
    <form action="/super/1/{{ Ticket['Project_ID'] }}" method="post">
        <label for="prevmarks">Marks till previous</label>
        <input  id="number1" oninput="submit1()" type="text" name="prevmarks" id="prevmarks">
        <label for="nowmarks">Marks till present</label>
        <input  id="number2" oninput="submit1()" type="text" name="nowmarks" id="nowmarks">
        <label for="Supervisor1_Remarks">Your Remarks</label>
        <label  for="">
            <p id="screen1">00 </p>
        </label>
        <textarea placeholder="add your remark here" name="Supervisor1_Remarks" id="Supervisor1_Remarks" cols="30" rows="9"></textarea>
        <button class="primary" type="submit" name="submit" value="Approve">Satisfactory</button>
        <button class="secondary" type="submit" name="submit" value="Reject">Not Statisfactory</button>
    </form>
</article>
<script>
     function submit1(){
        var a =  document.getElementById("number1").value;
        var b =  document.getElementById("number2").value;
        var c = parseInt(a) + parseInt(b); 
        document.getElementById("screen1").innerHTML=c;
      }
</script>
{% endblock %}