{% extends "ticket_created.html" %}
{% block form %}
<article class="article">
    <form action="/super/3/{{ Ticket['Project_ID'] }}" method="post">
        <label for="Supervisor3_Remarks">Your Remarks</label>
        <textarea placeholder="add your remarks here" name="Supervisor3_Remarks" id="Supervisor3_Remarks" cols="30" rows="10"></textarea>
        <button class="primary" type="submit" name="submit" value="Approve">Satisfactory</button>
        <button class="secondary" type="submit" name="submit" value="Reject">Not Satisfactory</button>
    </form>
</article>
{% endblock %}