{% extends 'ticket_created.html' %}

{% block form %}
<article class="article">
  <form action="/supervisor/Project_ID" method="post">
    <label for="supervisor-email">Supervisor Email:</label>
    <input type="email" id="supervisor-email" name="supervisor-email"><br>

    <label for="percentage-previous">%age till Previous:</label>
    <input type="number" id="percentage-previous" name="percentage-previous"><br>

    <label for="percentage-present">%age till Present:</label>
    <input type="number" id="percentage-present" name="percentage-present"><br>
    <label for="total-percentage">Total %age:</label>
    <input type="number" id="total-percentage" name="total-percentage" readonly><br>
    <label for="supervisor-remarks">Supervisor Remarks:</label>
    <textarea name="supervisor_remarks" id="supervisor_remarks" cols="30" rows="10"></textarea>



    <script>
      const percentagePreviousInput = document.getElementById('percentage-previous');
      const percentagePresentInput = document.getElementById('percentage-present');
      const totalPercentageInput = document.getElementById('total-percentage');

      function updateTotalPercentage() {
        const percentagePrevious = Number(percentagePreviousInput.value);
        const percentagePresent = Number(percentagePresentInput.value);
        const totalPercentage = percentagePrevious + percentagePresent;
        totalPercentageInput.value = totalPercentage;
      }

      percentagePreviousInput.addEventListener('input', updateTotalPercentage);
      percentagePresentInput.addEventListener('input', updateTotalPercentage);
    </script>

    <input type="submit" name="satisfaction" value="Satisfactory">
    <input type="submit"  name="satisfaction" value="Unsatisfactory">
  </form>
</article>
{% endblock %}
